# Ignore node_modules
**/node_modules/
**/dist
pnpm-lock.yaml
.pnpm
.pnpm-store

# Ignore debug logs
npm-debug.log
pnpm-debug.log

# Ignore Docker’s own files
Dockerfile
docker-compose.yml
.dockerignore

# Ignore other local/dev files
*.md
.git
.github
.gitignore
.gitattributes
.coverage
.coverage.*
.aws
.env.example
make.sh
debug.sh
kill.sh